body {
  font-family: 'Karla', sans-serif;
  background-color: #A7A2A9;
}
.ddd {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  text-align: center;
  letter-spacing: .125rem;  
}
 a {
  background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  background-repeat: no-repeat;
  background-size: 0px 2px;
  background-position: 0px 95%;
  transition: background 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0.1% 0px;
}
  
a {
  color: #FFFFFF;
  text-decoration: none; 
}


/* Small only */
@media screen and (max-width: 39.9375em) {
  .ddd {
    font-size: 1rem;
  }
  a:hover {
    background-size: 100% 2px;
  }
 
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .ddd {
    font-size: 2rem;
  }
  a:hover {
    background-size: 100% 3px;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .ddd {
    font-size: 3rem;
  }
  a:hover {
    background-size: 100% 4px;
  }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}